mat-slider {
    align-self: start;
    width: 40%;
  }

table{
    width: 100%;
    align-content: flex-end ;
    align-self: flex-end;
}
tr, td, th {
    border: 1px solid midnightblue;
}

.extension-col{
    align-content: flex-end;
    text-align-last: right;
    align-self: flex-end;
    align-items: flex-end;
    width: 80%;
}

.is-allowed-column{
    align-content: center;
    text-align-last: center;
    width: 20%;
}

.extension-content{
    text-align-last: right;
    align-self: stretch;
    align-content: stretch;
    width: 100%;
    background-color: rgb(220, 240, 255);
    border: 1px solid rgb(220, 240, 255);
}

.extensions-config
{
    width: 40%;
}

.extensions-manipulation
{
    width: 100%;
    text-align: right;
    align-items: flex-end;
    align-content: flex-end;
    text-align-last: right;
    align-self: flex-end;
}

.add-button,
.remove-button
{
    width: 20%;
    margin-right: 1%;
    margin-left: 1%;
  
}

.extension-input{
    width: 50%;
    text-align: right;
}

.add-button{
    background-color: greenyellow;
    border: 2px solid darkgreen;
    align-self: flex-start;
    align-content: center;
    text-align-last: center;
}

.remove-button{
    background-color: tomato;
    border: 1px solid  darkred;
  
    align-items: flex-end;
    align-content: center;
    text-align-last: center;
    align-self: flex-end;
}

.size-limit{
    width: 40%;
    margin: 1%;

    align-items: flex-end;
    align-content: flex-end;
    text-align-last: right;
    align-self: flex-end;
}