<div class="size-limit-config" >
    <div>
        <input type="checkbox" [(ngModel)] = "validationService.isOnSizeLimit" >
        The File Size Limits for the Uploading:
    </div>
    <div>
         Min File Size Limits is:
    </div>
    <input class="size-limit" type="text" 
    pattern="([0-9]{1,16})"    
    placeholder="File Size Uploading Min Limit in Bytes"
    [value] = "validationService.actualSizeMinLimit | number:'3.0-0'"
    (change)="updateMinValue($event)">
    <div>
        Max File Size Limits is:
    </div>
    <input class="size-limit" type="text" 
    pattern="([0-9]{1,16})"  
    placeholder="File Size Uploading Max Limit in Bytes"
    [value] = "validationService.actualSizeMaxLimit | number:'3.0-0'"
    (change)="updateMaxValue($event)"> B
    <br/>
  <div class="extensions-config">
      <div>
        <input type="checkbox" [(ngModel)] = "validationService.isOnAllowedExtensions">Allowed File Extensions List:
      </div>
      <br/>
    <div class="extensions-manipulation"> 
        <input class="add-button" type="submit" value="Add" (click)="addItem()">
        <input class="extension-input" type="text" placeholder="Add New Extension" [(ngModel)]="currentInputExtension">
        <input class="remove-button" type="submit" value="Remove" (click)="removeItem()">
    </div>
    <table title="Allowed File Extensions List">
        <thead>
            <tr>
                <th class="is-allowed-column">
                    <span>Allow</span><br/>
                    <input type="checkbox" [(ngModel)]="isAllAllowed" (change)="checkAllToggle(isAllAllowed)" />
                </th>
                <th class="extension-col">  
                    <span>Extensions</span><br/>
                    <span>_</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of allowedExtensions; let i = index">
                <td class="is-allowed-column">
                    <input type="checkbox" [(ngModel)]="item.isAllowed" (click)="onAllowedExtensionListChanged()"/>
                </td>
                <td class="extension-col">
                    <input class="extension-content" type="button"  [(ngModel)]="item.extension" (click)="onSelect($event)">
                </td>
            </tr>
        </tbody>
    </table>
</div>
  