.container .leftSide,
.container .rightSide {
    display: inline-block;
    margin: 0.5%;
    padding: 0.5%;
    border: 2px solid;
    height: 100%;
    background-color: rgb(220, 240, 255);
    border-color: rgb(80, 20, 145);
}

.container .leftSide {
    width: 35%;
    float: left;
}
.container .rightSide {
    width: 60%;
    float: right;
}