<div class="container">
    <div class="leftSide">
      <h2>upload area</h2>
      <app-upload-area></app-upload-area>
    </div>
    <div class="rightSide">
     <h2>view area</h2>
     <app-view-area></app-view-area>
    </div>
 </div>