<input type="file" multiple (change)="selectFiles($event)" />
<br/>
<button type="button" (click)="uploadFile()">Upload Selected Validated Files</button>

<div *ngIf="selectedFiles.length > 0">
    <div>Selected Files: </div>
    <ul>
        <li *ngFor="let validatedFile of validatedFiles" >
            <div class="selected-item">
                <input name="filename" [readonly]="true" class="selected-filename"
                [(ngModel)]="validatedFile.file.name" required  />
                <div class="selected-fileSize">{{validatedFile.file.size}} B</div>
            </div>
          
            <div *ngIf="!validatedFile.sizeAllowed" class="not-valid">
                The file size limits ({{ validationService.actualSizeMinLimit}} - {{ validationService.actualSizeMaxLimit}} B)  have been exceeded. 
                File size {{validatedFile.file.size}} B is not in allowed range.
            </div>
            <div *ngIf="!validatedFile.extensionAllowed" class="not-valid">
                The file extension is not allowed 
            </div>
             <div *ngIf="validatedFile.sizeAllowed && validatedFile.extensionAllowed" 
             class="valid">
                File is Valid.
            </div>
        </li>
    </ul>
</div>


