button{
    margin: 1%;
    height: 2em;
}
input {
    margin: 1%;
    height: 2em;
}


.not-valid{
    border: 2px solid darkred;
    background-color:lightcoral;
    align-self: stretch;
    align-content: stretch;
}

.valid{
    border: 2px solid darkgreen;
    background-color:lightgreen;
    align-self: stretch;
    align-content: stretch;
}



.selected-item
{
    width: 100%;
    display: inline-flex;
    text-align: right;
    align-items: flex-end;
    align-content: flex-end;
    text-align-last: right;
    align-self: flex-end;
}

.selected-fileSize{
    margin-bottom:2%;
    width:25%;
    text-align: right;
}

.selected-filename{
    width: 70%;
    text-align: left;
}