.container .leftSide,
.container .rightSide {
    display: inline-block;
    margin: 0.5%;
    padding: 0.5%;
    border: 2px solid;
    background-color: rgb(228, 240, 248);
    border-color: rgb(83, 18, 143);
}

.container .leftSide {
    width: 47%;
    float: left;
   
}
.container .rightSide {
    width: 47%;
    float: right;
}