
.subfolder {
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
}

.thead{
    width: 95%;
}

.columnFileName{
    width: 40%;
    align-self: flex-start;
    align-content: flex-start;
}

.columnFileSize{
    width: 15%;
    text-align-last: right;
    padding-right: 1%;
    align-items: flex-end;
    align-self: flex-end;
    align-content: flex-end;
}
.columnUploadedDate{
    width: 20%;
    text-align-last: right;
    padding-right: 1%;
    margin-right: 1%;
    align-content: flex-end;
}
.columnUserName{
    width: 20%;
    text-align-last: right;
    align-content: flex-end;
}

.mat-tab-label:last-child {
    margin-left: auto; 
  }