<button (click)="fetchUpoadedFiles()">Update Uploaded Files Collection Manually</button>

<br/>
<mat-tab-group animationDuration="0ms"  [disableRipple]=true>
    <mat-tab tabindex="0" >
      <ng-template mat-tab-label class="tabThead">
        <span><b>Uploaded files grouped by extensions</b></span>
      </ng-template>
        <div *ngFor="let fileGroup of uploadedgroupedFiles; let j = index">
          <br/>
          <thead>
            <tr>
              <th class="columnFileName">File Name</th>
              <th class="columnFileSize">File Size B</th>
              <th class="columnUploadedDate">Upload Date</th>
              <th class="columnUserName">User who Uploaded File</th>
            </tr>
          </thead>
        
          <tbody>
          <tr *ngFor="let file of fileGroup; let i = index">
            <td class="columnFileName">{{file.fileName}} </td>
            <td class="columnFileSize">{{file.fileSize | number:'1.0-0'}}</td>
            <td class="columnUploadedDate">{{file.uploadDate | date:'dd/MM/yyyy HH:mm:ss'}}</td>
            <td class="columnUserName">{{file.userUploadedFile}}</td>
          </tr>
        </tbody>
      </div>
  </mat-tab>

  <mat-tab tabindex="1" >
    <ng-template mat-tab-label class="tabMaterial">
      <span><b>Material Design Groupped files</b></span>
    </ng-template>
    <div *ngFor="let fileGroup of uploadedgroupedFiles; let i = index">
      <br/>
      <div class="subfolder"><b>{{fileGroup[0].fileExtension}}</b></div>
      <mat-table [dataSource]="fileGroup">
        <ng-container matColumnDef="fileName" >
            <mat-header-cell *matHeaderCellDef><b> File Name </b> </mat-header-cell>
            <mat-cell  *matCellDef="let row"> {{row.fileName}} </mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="fileSize" >
          <mat-header-cell *matHeaderCellDef><b> File size </b></mat-header-cell>
          <mat-cell  *matCellDef="let row"> {{row.fileSize | number : '1.0-0'}} </mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="uploadDate" >
          <mat-header-cell *matHeaderCellDef><b>  Uploaded Date </b></mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.uploadDate | date:'dd/MM/yyyy HH:mm:ss'}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="userUploadedFile" >
          <mat-header-cell *matHeaderCellDef><b>  User Who Uploaded File </b></mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.userUploadedFile}} </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="['fileName', 'fileSize', 'uploadDate', 'userUploadedFile']"></mat-header-row>
        <mat-row *matRowDef="let row; columns: ['fileName', 'fileSize', 'uploadDate', 'userUploadedFile']"></mat-row>
    </mat-table>
    </div>
  </mat-tab>
</mat-tab-group>
  