<div>
    <nav>
      <div [ngClass]='{ "in": isExpanded }'>
          <button  
           [routerLink]='["/main-area"]' 
           [routerLinkActive]='["link-active"]' 
           (click)='collapse()'>
              <span>Main Area</span>
          </button>
          <button
               [routerLink]='["/validation-config"]' 
               [routerLinkActive]='["link-active"]'  
               (click)='collapse()'>
              <span >Validation Config</span>
          </button>
      </div>
    </nav>
</div>
