
  button  {
      height : 3em;
      width: 15em;
      margin-top: 0%;
      margin-bottom: 0%;
      margin-right: 1%;
      margin-left: 1%; 
      border-radius: 5%;
      background-color: rgb(220, 240, 255);
      border-color: rgb(80, 20, 145);
  }
  